<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1">Cadastro de Usuário</h1>
    <form action="/adduser" method="post">
        <p>Nome:<input type="text" name="nome"/></p>
        <p>E-mail:<input type="text" name="email"/></p>
        <p>Senha:<input type="text" name="senha"/></p>
        <p>Data de nascimento:<input type="text" name="data_nascimento"/></p>
        <p>RG:<input type="text" name="rg"/></p>
        <p>CPF:<input type="text" name="cpf"/></p>
        <p>Data de criação:<input type="text" name="data_criacao"/></p>
        <p><input type="submit" value="Salvar"/></p>
    </form>
</body>
</html>